html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Quicksand', 'Helvetica Neue', Arial, sans-serif;
}
hr {
  border-color: #f07113;
  border-width: 3px;
  border-radius: 1px;
  max-width: 50px;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #f07113;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #c45a0c;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.bg-primary {
  background-color: #7F7F7F;
}
.text-faded {
  color: rgba(77, 77, 77, 0.8);
}
.main-section {
  padding: 100px 0px 25px;
}
aside {
  padding: 50px 0;
}
.alignright {
  text-align: right;
}
.navbar-right {
  display: inline;
  float: left;
}
@media (min-width: 768px) {
  .navbar-right {
    float: right;
  }
}
.navbar-logo .logo {
  top: 15%;
  position: absolute;
  width: 150px;
}
.navbar-logo li {
  left: 50px;
  width: 50px;
}
.navbar-logo li img {
  left: -10px;
}
@media (min-width: 768px) {
  .navbar-logo li img {
    left: -40px;
  }
}
.navbar-default .navbar-toggle {
  color: #FAFAFA;
  border-color: #4d4d4d;
  background-color: #4d4d4d;
}
.navbar-default .navbar-toggle .icon-bar {
  transition: all 0.3s;
  color: #FFF;
  background-color: #FFF;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  transition: all 0.3s;
  background-color: #222;
}
.navbar-default {
  background-color: #4d4d4d;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
  color: #f07113;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #c45a0c;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: rgba(230, 230, 230, 0.7);
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #f07113;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #f3e512 !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: rgba(230, 230, 230, 0.3);
  }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(230, 230, 230, 0.7);
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: #E6E6E6;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(230, 230, 230, 0.7);
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: #E6E6E6;
  }
  .navbar-default.affix {
    background-color: #4d4d4d;
    border-color: rgba(34, 34, 34, 0.05);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #f07113;
    font-size: 14px;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #c45a0c;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: rgba(230, 230, 230, 0.7);
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #f3e512;
  }
}
.dark {
  background-color: #4d4d4d;
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url(../img/index.jpg);
  box-shadow: inset 0 50px 200px #202020;
  text-align: center;
  color: #E6E6E6;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  text-shadow: 0 0 15px #000;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 400;
  color: rgba(230, 230, 230, 0.95);
  text-shadow: 0 0 10px #000;
  font-size: 16px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.portfolio-box {
  position: relative;
  display: block;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  color: #E6E6E6;
  opacity: 1;
  display: block;
  background: rgba(34, 34, 34, 0.7);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
@media (min-width: 1200px) {
  .portfolio-box .portfolio-box-caption {
    opacity: 0;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    top: 50%;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}
.portfolioFilter .Portfolio-nav {
  padding: 0;
  margin: 0 auto 15px 0;
  list-style: none;
  text-align: center;
}
.portfolioSort .Portfolio-nav {
  padding: 0;
  margin: 0 auto 40px 0;
  list-style: none;
  text-align: center;
}
.Portfolio-nav li {
  display: inline;
}
.Portfolio-nav li a {
  display: inline-block;
  padding: 10px 22px;
  font-size: 12px;
  line-height: 20px;
  color: #222222;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: 'LatoRegular', sans-serif;
  background: #f7f7f7;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.Portfolio-nav li a:hover {
  background: #222;
  color: #fff;
  text-decoration: none;
}
.Portfolio-nav li a.current {
  background: #222;
  color: #fff;
  text-decoration: none;
}
.Portfolio-nav button {
  margin: 0;
}
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}
.awarded {
  color: #f3e512;
}
.notcomp {
  color: #f07113;
}
.wip {
  color: #28779d;
}
.text-primary {
  color: #f07113;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.btn-default {
  color: #222;
  background-color: #E6E6E6;
  border-color: #E6E6E6;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #222;
  background-color: #d9d9d9;
  border-color: #d4d4d4;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #E6E6E6;
  border-color: #E6E6E6;
}
.btn-default .badge {
  color: #E6E6E6;
  background-color: #222;
}
.btn-primary {
  color: #E6E6E6;
  background-color: #f07113;
  border-color: #f07113;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #E6E6E6;
  background-color: #dc650e;
  border-color: #d2610d;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #f07113;
  border-color: #f07113;
}
.btn-primary .badge {
  color: #f07113;
  background-color: #E6E6E6;
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}
.btn-xl {
  padding: 15px 30px;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active,
.open > .dropdown-toggle.btn-custom {
  color: #E6E6E6;
  background-color: #222;
  border-color: #adadad;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.btn-custom {
  display: inline-block;
  padding: 10px 22px;
  font-size: 12px;
  line-height: 20px;
  color: #222222;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: 'LatoRegular', sans-serif;
  background: #F5F5F5;
  margin-bottom: 5px;
  list-style: none;
  text-align: center;
}
.btn-custom:hover {
  background: #222;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.img-downsize {
  max-width: 60%;
}
::-moz-selection {
  color: #E6E6E6;
  text-shadow: none;
  background: #222;
}
::selection {
  color: #E6E6E6;
  text-shadow: none;
  background: #222;
}
img::selection {
  color: #E6E6E6;
  background: transparent;
}
img::-moz-selection {
  color: #E6E6E6;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222;
}
.footer {
  background-color: #222;
  width: 100%;
  left: 0;
  bottom: 0;
  position: relative;
}
.thumb-box {
  padding: 1.4em 0 1em;
  margin-left: -1%;
  width: 102%;
}
/* Map */
.map {
  height: 500px;
}
form {
  max-width: 450px;
  margin: 0 auto 50px;
}
form input,
form textarea {
  font-weight: 400;
  border: 2px solid rgba(77, 77, 77, 0.7);
  width: 100%;
}
form input:focus,
form textarea:focus {
  outline: 3px solid rgba(77, 77, 77, 0.7);
}
form .contact-info input {
  height: 30px;
}
form .contact-info label {
  width: 50%;
  float: left;
}
form .contact-info label:nth-child(1) {
  padding-right: 10px;
}
form .contact-info label:nth-child(2) {
  padding-left: 10px;
}
form label {
  display: block;
  margin-bottom: 20px;
}
form span {
  font-weight: 400;
  font-size: 16px;
  display: block;
}
form textarea {
  height: 100px;
}
form .submit-info input {
  text-transform: uppercase;
  background-color: #4d4d4d;
  color: #ffffff;
  border: none;
  font-size: 2em;
  transition: all 0.1s ease-in-out;
}
form .submit-info input:hover {
  background-color: rgba(77, 77, 77, 0.7);
  transition: all 0.1s ease-in-out;
}
